<%- include('partials/header', { title: 'Dashboard' }) %>
<div class="section dashboard">
    <h1>Welcome to Your Dashboard</h1>
    <a href="/" class="back-button">&larr; Back to Home</a>
    <div class="dashboard-section">
        <a href="/add_new_hackathon" class="dashboard-button">Add New Hackathon</a>
        <a href="/current_hackathons" class="dashboard-button">View Current Hackathons</a>
        <a href="/awards" class="dashboard-button">View Awards and Achievements</a>
    </div>
</div>
<%- include('partials/footer') %>
